{% extends "extensions/base.html" %}

{% block content %}
  <div>
    {% if was_updated %}
      <div class="alert alert-info" role="alert">
        <strong>Info:</strong> база обновлена.
      </div>
    {% endif %}
    {% for time, time_name, floors in periods %}
      <div class="panel panel-default
                  {% if time < now %} period-close
                  {% elif time == now %} period-now
                  {% else %} period-open {% endif %}">
        <div class="panel-heading">{{ time_name }}</div>

        <ul class="list-group">
          {% for floor, audiences in floors %}
            <li class="list-group-item">
              <b>{{ floor }}-й этаж:</b>
              {{ audiences }}
            </li>
          {% endfor %}
        </ul>

      </div>
    {% endfor %}
  </div>
{% endblock %}
